html body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}
p {
	color: #555;
}

h1 {
	font-size: 5.0vw;
}
h2 {
font-size: 3.5vw;
}

h4 {
	font-size: 2vw;
}

p li {
font-size: 2vmin;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 50px;
}


/* header */
header nav {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;	
	animation: 1s fadein 1s forwards;
	opacity: 0;
	z-index: 2;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Quicksand", sans-serif;
}

header ul {
	display: flex;
	font-family: "Quicksand", sans-serif;
}

header nav li {
	margin: 0 15px;
}

nav.green {
	background-color: rgb(180, 201, 181);
}

form {
	width: 400px;
}
input, textarea {
	font-family: 'Open Sans', sans-serif;
	color: #666260;
	border: 1px solid #c4beb9;
	background: #fff;
	padding: 1em;
	transition: all 0.3s ease-in-out;
	width: 85%;
}


i {
	color: #e41818;
	margin-right: 5px;
}
ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 1;
	margin: 2px 40px 2px 30px;
	color: rgb(255, 0, 0);
	font-weight: 600;
}

a:hover {
	/* opacity: 0.75; */
	color: white;
}

@media (max-width: 700px) {
	nav {
		
		justify-content: flex-start;
	}
	ul {
		margin: 0;
		padding-inline-start: 0;
	}
	a {
		margin: 2px 5px 2px 5px;
	}
}
/* Hero Section*/
.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	/* margin:0;
	padding: 0;
	box-sizing: border-box; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero h1 {
	margin-top: 0;
	margin-bottom: 15px;
}

.hero h3 {
	font-family: "Open Sans", sans-serif;
	margin-bottom: 40px;
}



.hero-content-area {
	opacity: 0;
	margin-top: 10px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}


/* Meridian Section */
#meridian {
	background-color: antiquewhite;
}
#flexContainer1 {  
	height: 100%;
	/* width: auto; */
	/* margin: auto; */
	display: flex;
	justify-content: center;
	/* flex-basis: 400px; */
  flex-flow: row wrap;
  /* flex: 0 1 400px; */
  
}

.flexItem1 {
	/* width: 520px; */
	background-color: white;
	padding: 20px;
	display: flex;
	flex: 0 1 570px;
	flex-flow: column;
	/* justify-content: center; */
	margin: 1em;
	border-radius: 0.25em;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.20);
	transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.flexItem1:hover {
	box-shadow: 0px 10px 50px rgba(0,0,0,0.20);
	transform: scale(1.1);
}


#description1 {
	width: 100%;
	height: 150px;
}

/* seasonAcu Section  */
.flipswitch {
	position: relative;
	width: 128px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
  }
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "Northern";
  padding-left: 12px;
  background-color: #256799;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "Southern";
  padding-right: 12px;
  background-color: #256799;
  color: #FFFFFF;
  text-align: right;
}
.flipswitch-switch {
  width: 28px;
  margin: -2px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 102px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
right: 0;
}
h2 {
display: inline-flex;
}


#flexContainer2 {  
	height: 100%;
	/* width: auto; */
	/* margin: auto; */
	display: flex;
	justify-content: center;
	/* flex-basis: 400px; */
  flex-flow: row wrap;
  /* flex: 0 1 400px; */
}

.flexItem2 {
	/* width: 520px; */
	background-color: white;
	padding: 25px;
	display: flex;
	flex: 0 1 370px;
	flex-flow: column;
	justify-content: center;
	margin: 1em;
	border-radius: 0.25em;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.20);
	transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.flexItem2:hover {
	box-shadow: 0px 10px 50px rgba(0,0,0,0.20);
	transform: scale(1.01);
}

img {
	width: 100%;
	/* height: auto; */
	background-color: lightgrey;
	margin-bottom: 1em;
	border-radius: 0.25em;
	background-size: cover;
}

h3 {
	width: 100%;
	font-weight: 700;
}
#seasonText {
	display: flex;
	flex-flow: row;
	align-items: center;
}
button {
	font-size: 19px;
	font-weight: 400;
}

button:hover {
	font-size: 20px;
	font-weight: 700;
}

#description {
	width: 100%;
	height: 250px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position 
   https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color:#aa8c8c;;
  }

  